@model IEnumerable<TeamLID.TravelExperts.Repository.Domain.Bookings>

@{
    ViewData["Title"] = "Booking History";
    // TODO: check if Session["login"] exist, if not, redirect back to login page.
}

<h1>History</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageId)
            </th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageId)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.PackageId">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> 
                    @*|
                    <a asp-action="Delete" asp-route-id="@item.PackageId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
