@*@model IEnumerable<TeamLID.TravelExperts.Repository.Domain.Bookings>*@
@model IEnumerable<TeamLID.TravelExperts.App.Models.BookingsModel>

@{
    ViewData["Title"] = "Booking History";
    // TODO: check if Session["login"] exist, if not, redirect back to login page.

}

@*<h1>History</h1>*@

<!-- <p>
    <a asp-action="Create">Create New</a>
</p> -->

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid jumbotron-customer">
        <div class="container">
            <h1 class="display-4 register-greetings h1-responsive">Booking History</h1>
            <hr class="my-4">
            <p class="lead register-heading">Your Bookings</p>
        </div>
    </div>
</div>

<main>
    <div class="container-fluid">

        <div class="register-main">

            <div class="register-box">
                <div class="table-responsive-lg">
                    <table class='table table-hover'>
                        <thead>
                            <tr class="text-center">
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TravelerCount)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.CustomerId)
                                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.TripTypeId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PackageId)
                                </th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookingDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookingNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TravelerCount)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.CustomerId)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TripTypeId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PackageId)
                                    </td>
                                    <td>
                                        @*<a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |*@
                                        @*<a asp-action="Details" asp-route-id="@item.BookingId">Details</a>*@
                                        @*|
                                            <a asp-action="Delete" asp-route-id="@item.PackageId">Delete</a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>