@*/*
Author: Ibraheem
Purpose: Get booking history for customers
*/*@ 

@model IEnumerable<TeamLID.TravelExperts.App.Models.BookingsModel>

@{
    ViewData["Title"] = "Booking History";
}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid jumbotron-customer">
        <div class="container">
            <h1 class="display-4 register-greetings h1-responsive">Booking History</h1>
            <hr class="my-4">
            <p class="lead register-heading">Your Bookings</p>
        </div>
    </div>
</div>

<main>
    <div class="container">

        <div class="register-main">

            <div class="register-box">
                <div class="table-responsive-lg">
                    @if(Model.Count() == 0){

                        <h4 class="text-center mt-120">You have no bookings</h4>

                    } else{
                    <table class='table table-hover'>
                        <thead>
                            <tr class="text-center">
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TravelerCount)
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(model => model.CustomerId)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.TripTypeId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PackageId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        <!-- @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookingDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookingNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TravelerCount)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.CustomerId)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.TripTypeId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PackageId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @*<a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |*@
                                    <a asp-action="BookingDetail" asp-route-id="@item.BookingId"><button class="btn btn-outline-primary"> View Booking </button></a>
                                    @*|
                                    <a asp-action="Delete" asp-route-id="@item.PackageId">Delete</a>*@
                                </td>
                            </tr>
                        } -->

                        @foreach (var item in Model)
                    {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TravelerCount)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.TripTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PackageId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |*@
                            <a asp-action="BookingDetail" asp-route-id="@item.BookingId"><button class="btn btn-outline-primary"> View Detail </button></a>
                            @*|
                            <a asp-action="Delete" asp-route-id="@item.PackageId">Delete</a>*@
                        </td>
                    </tr>
                    }
                        </tbody>
                        <span class="mr-200 text-right">
                            <p> <strong>Total Owing</strong>: CAD @Model.Sum(p => p.Price).ToString("c0")</p>
                        </span>
                    </table>
                    }
                    <br />
                    <br />

                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</main>