@model TeamLID.TravelExperts.Repository.Domain.Customers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustProv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustProv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustPostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustHomePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustHomePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustBusPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustBusPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agent.AgentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
