@model IEnumerable<TeamLID.TravelExperts.Repository.Domain.Packages>

@{
    ViewData["Title"] = "History";
    // TODO: check if Session["login"] exist, if not, redirect back to login page.
}

<h1>History</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PkgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgBasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgAgencyCommission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PkgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgBasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgAgencyCommission)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PackageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PackageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PackageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
